.product-tile {
  width: 100%;
  gap: 15px;

  &-header {
    position: relative;

    .badge-favorite {
      position: absolute;
      top: 17px;
      right: 15px;
    }
  }

  &-image {
    display: block;

    img {
      width: 100%;
      display: block;
    }
  }

  &-title {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 16px;
      font-weight: bold;
    }

    @include media-breakpoint-up('lg') {
      h1 {
        font-size: 22px;
        text-transform: uppercase;
      }
    }
  }

  .product-tile-pricing {
    display: flex;
    justify-content: center;

    span {
      font-size: 15px;
    }

    @include media-breakpoint-up('lg') {
      span {
        font-size: 22px;
      }
    }
  }
}
